SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=linkedin_ai
DB_USER=root
DB_PASSWORD=xxxx
DB_HOST=localhost
DB_PORT=3306

CACHE_TIMEOUT_DAYS=

ENRICHLAYER_API_KEY=
ENRICHLAYER_BASE_URL=
OPENAI_API_KEY=
GEMINI_API_KEY=